#print, hello world

In [1]:
print("Hello World")
print("Welcome to PDA")

Hello World
Welcome to PDA

#Indentation

In [2]:
print("I have no indentation")
print("I have indentation")

I have no indentation
I have indentation

#Taking input

In [3]:
s="ABC"
age=25
p="India"
print(s,age,p)

ABC 25 India

#Python variables

In [1]:
x=55.7
s="Hello"
print(x)
print(s)

55.7
Hello

#Type casting a variables

In [2]:
i=int(x)
s1=str(x)
print(i)
print(s1)

55
55.7

#Getting type of variables

In [3]:
n1=55
n2=55.6
n3="Hello"
n4=[1,2,3,4,5]
n5={"a":1,"b":2,"c":3}
n6=True
print(type(n1))
print(type(n2))
print(type(n3))
print(type(n4))
print(type(n5))
print(type(n6))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

#Sequence data types

In [4]:
s="Welcome to PDA"
print(type(s))
print(s)
print(s[1])
print(s[-1])

<class 'str'>
Welcome to PDA
e
A

#List

In [8]:
a=[]
print (type(a))
b=[1,2,3]
print(b)
c=[1,2,3,"A","Mango"]
print(c)
print(b[1])
print(b[-1])
print(c[-1])
print(c[-2])

<class 'list'>
[1, 2, 3]
[1, 2, 3, 'A', 'Mango']
2
3
Mango
A

#Tuples

In [6]:
t1=("class","for","PDA")
t2=(1,2,3,4,5)
print(type(t1))
print(t2)
print(t1[-1])
print(t2[2])

<class 'tuple'>
(1, 2, 3, 4, 5)
PDA
3

#Boolean

In [9]:
print(type(False))
print(type(True))
if 1:
    print("1 is true")
else:
    print("0 is False")

<class 'bool'>
<class 'bool'>
1 is true

#Sets

In [10]:
s1=()
s2=("Beautiful day")
s3=set["A","B","C"]
print(type(s1))
print(s2)
for s in s3:
    print(s,end="")

<class 'tuple'>
Beautiful day
*set['A', 'B', 'C']

#Dictionary

In [11]:
d1={}
d2={"a":1,"b":2,"c":3}
d3={1:"a",2:"b",3:"c"}
print(d2)
print(d3[1])

{'a': 1, 'b': 2, 'c': 3}
a

#Type conversion
#Implicit type conversion

In [12]:
x=10
y=10.8
z=x+y
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

#Explicit type  conversion

In [13]:
a="52.6"
b=(a)
c=float(b)
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'float'>

#Explict

In [14]:
s="Hello World"
t=type(s)
u=list(s)
v=set(s)
print(type(s))
print(type(t))
print(type(u))
print(type(v))

<class 'str'>
<class 'type'>
<class 'list'>
<class 'set'>

#Operators
#Arithmetic Operators

In [15]:
a=17
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

22
12
85
3.4
3
2
1419857

#Comparison Operators

In [16]:
a=7
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

True
False
True
False
True
False

#Logical Operators

In [17]:
a=True
b=False
print(a and b)
print(a or b)
print(not b)

False
True
True

#Bitwise Operators

In [18]:
a=5
b=2
print(a&b)
print(a/b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

0
2.5
-6
7
1
20

#Assignment Operators

In [19]:
a=10
b=2
a+=b
print(a)
a-=b
print(a)
a>>=b
print(a)
a<<=b
print(a)

12
10
2
8

#Identify Operators

In [20]:
a=10
b=5
c=a
print(c is a)
print(a is not b)

True
True

#Ternary Operators

In [21]:
min=a if a<b else b
print(min)

5

#Membership Operators

In [22]:
x=24
y=20
list1=[10,20,30,40]
if y not in list1:
    print("X not in list")
    if y in list:
        print("y is in list")

#Questional (find output)

In [23]:
print(100/10*10)
print(5-2+3)
print(5-(2+3))
print(2**3**2)

100.0
6
0
512

#Questions(find output)

In [52]:
name="Alex"
age=0
if (name=="Alex" or name =="john"and age>=2):
    print("Welcome")
else:
    print("Bye")

Welcome

#if statement

In [27]:
a=10
if a>5:
    print("a is greater than 5")

a is greater than 5

#if else statement

In [30]:
a=3
if a>5:
   print("a is greater than 5")
else:
   print("a is not greater than 5")

a is not greater than 5

#if elif else statement

In [51]:
mark=85
if mark>=90:
    print("Grade A")
elif mark>=60:
    print("Grade B")
else:
    print("Grade C")

Grade B

#Short hand if else

In [32]:
x=10
y=20
print("x is greater")if x>y else print("y is greater")

y is greater

#Nested if else

In [33]:
num=10
if num>0:
    if num%2==0:
        print("Positive even number:")
    else:
        print("Postive odd number:")
else:
    print("Negative number")

Positive even number:

#Looping statement
#for loop

In [37]:
for i in range(1,6):
 print(i)

1
2
3
4
5

#Break

In [43]:
for i in range(1,6):
    if i==3:
        break
    print(i)

1
2

#continue statement

In [44]:
for i in range(1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

#Pass statement

In [45]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

#Match case

In [47]:
day=2
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Invalid day")

Tuesday

#Ternary if else

In [48]:
n=7
result="Even" if n % 2==0 else "odd"
(result)

'odd'